[submodule "SKLib"]
	path = SKLib
	url = https://github.com/cutecatsandvirtualmachines/SKLib.git
[submodule "SharedCheatLibrary"]
	path = SharedCheatLibrary
	url = http://git.dev-server.warwick.internal/TheItalian/SharedCheatLibrary.git
